@{ ViewBag.Title = "管理列表"; Layout = "~/Views/Shared/_Layout.cshtml"; }


<link href="~/Static/searchbar/searchbar.css" rel="stylesheet" />
<style type="text/css">
    .hw-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        z-index: 10;
    }

    .hw-layer-wrap {
        box-sizing: border-box;
        width: 570px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -285px;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.12);
        padding: 45px 50px;
    }

    .hwLayer-close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        font-size: 20px;
        color: #ccc;
    }

    .hw-layer-wrap .hw-icon {
        color: #b4d8f3;
        font-size: 86px;
        text-align: center;
    }

    .hw-layer-wrap h4 {
        margin: 5px 0 30px;
        font-size: 24px;
        color: #383c3e;
    }

    .hw-layer-wrap p {
        margin: 30px 0;
        line-height: 22px;
        color: #595d60;
        text-align: left;
    }

    .hw-layer-title {
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        position: absolute;
        left: 20px;
        top: 10px;
        font-weight: bold;
    }

    .hw-layer-wrap {
        width: 550px;
        min-height: 250px;
        margin-left: -175px;
        margin-top: -200px;
        padding: 45px 50px;
        text-align: center;
    }

    .hwLayer-cancel {
        margin-left: 20px;
    }
</style>

<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <form id="searchForm" class="form-horizontal" role="form" action="@Url.Action("Index", "OrderComment")">

                <div class="form-group">
                    <div class="search-bar clearfix">
                        <div class="row f-fl clearfix f-mr20 f-mb20">
                            <div class="row f-fl clearfix f-mr20 f-mb20">
                                <label class="lb f-fl">客户手机号码：</label>
                                <input type="text" id="CustomerPhone" name="CustomerPhone" placeholder="客户手机号码" class="f-fl ipt" />
                            </div>
                        </div>
                        <div class="row f-fl clearfix f-mr20 f-mb20">
                            <div class="row f-fl clearfix f-mr20 f-mb20">
                                <label class="lb f-fl">教练编号：</label>
                                <input type="text" id="CoachNo" name="CoachNo" placeholder="教练编号" class="f-fl ipt" />
                            </div>
                        </div>
                        <div class="row f-fl clearfix f-mr20 f-mb20">
                            <label class="lb f-fl">订单编号：</label>
                            <input type="text" id="OrderNo" name="OrderNo" placeholder="订单编号" class="f-fl ipt" />
                        </div>
                        @*<div class="row f-fl clearfix f-mr20 f-mb20">
                                <label class="lb f-fl">创建日期：</label>
                                <input type="text" id="BeginCreateTime" name="BeginCreateTime" placeholder="开始日期" class="f-fl ipt" onclick="WdatePicker({ startDate: '%y-%M-%d 00:00:00', dateFmt: 'yyyy-MM-dd HH:mm:ss', alwaysUseStartDate: true })" />
                                <div class="f-fl  line"> 至 </div>
                                <input type="text" id="EndCreateTime" name="EndCreateTime" placeholder="结束日期" class="f-fl ipt" onclick="WdatePicker({ startDate: '%y-%M-%d 23:59:59', dateFmt: 'yyyy-MM-dd HH:mm:ss', alwaysUseStartDate: true })" />
                            </div>*@
                        <div class="row f-fl clearfix f-mr20 f-mb20">
                            <button class="btn btn-sm  btn-primary"><i class="icon-zoom-in bigger-110"></i>查 询 </button>
                            <button class="btn btn-sm reset" type="reset"><i class="icon-undo bigger-110"></i>重置</button>
                        </div>

                    </div>

                </div>

            </form>

            @*<p>
                    <button class="btn btn-sm btn-success" id="btn-add"><i class="icon-inbox bigger-125"></i>新增</button>
                </p>*@

            <table id="tblist" class="table table-striped table-bordered table-hover">
                <tr>
                    <th>订单编号</th>
                    <th>业务类型</th>
                    <th>评论类型</th>
                    <th>满意度</th>
                    <th>标签集合</th>
                    <th>客户信息</th>
                    <th>教练信息</th>
                    <th>评论内容</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                @if (Model.DataList.Length <= 0)
                {
                    <tr id="odd" class="odd">
                        <td colspan="15" style="color: red; text-align: center;">暂无订单评论信息</td>
                    </tr>
                }
                @foreach (CNCar.Orders.Model.OrderCommentEntity item in Model.DataList)
                {
                    <tr>
                        <td style="display: none" class="tagid">@item.ID</td>
                        <td>@item.OrderNo</td>
                        <td> @Html.Raw(CNCar.Infrastructures.Enum.EnumTypes.BusTypeSpan(Convert.ToInt32(item.BusType)))</td>
                        <td>
                            @Html.Raw(CNCar.Infrastructures.Enum.EnumTypes.OrderCommentTypeSpan(Convert.ToInt32(item.CommentType)))
                        </td>
                        <td> @Html.Raw(CNCar.Infrastructures.Enum.EnumTypes.StuLikeLevelSpan(Convert.ToInt32(item.LikeDegree)))</td>
                        <td>@item.tags</td>
                        <td>
                            <a class="open-event" href="#" title="@item.CustomerPhoneDecrypt">@item.CustomerPhoneHidden</a> <br />
                            @item.CustomerName
                        </td>

                        <td>@item.CoachNo <br /> @item.CoachName</td>
                        <td><a href="javascript:void(0)" title="@item.Content"> @(item.Content != null && item.Content.Length > 20 ? item.Content.Substring(0, 20) + "..." : item.Content)</a></td>
                        <td>@(item.CreateTime.Value.ToString("yyyy-MM-dd"))</td>
                        <td>
                            <div>
                                <button class="btn btn-xs btn-danger open-view btn-view " title="删除">
                                    <i class="icon-remove  bigger-120"></i>
                                </button>
                            </div>

                        </td>

                    </tr>
                }

            </table>

            <div>
                @Html.Raw(Model.PagerHtml()) 共 @Model.Total 条
            </div>

            <div class="hr hr-18 dotted hr-double"></div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(function () {
        //初始化tooltip
        $(".open-event").tooltip({
            show: {
                effect: "slideDown",
                delay: 250
            }
        });
        //$("#btn-add").on('click', function () {
        //    window.location.href = "/CommentTag/Add";
        //});
        //删除
        $(".btn-view").on('click', function () {
            var id = $(this).parents().prevAll('.tagid').html();
            var req = {
                "id": id
            };
            layer.confirm('确认是否删除?', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.ajax({
                    async: false,
                    cache: false,
                    type: 'POST',
                    contentType: "application/json",
                    url: "/OrderComment/UpdateOrderCommentShowStatus?" + $.param(req),
                    error: function () {
                        layer.msg("请求失败！");
                    },
                    success: function (data) {
                        layer.msg(data.Message);
                        location.reload();
                    }
                });
            });
        });
        //保持搜索条件
        $('#CustomerPhone').val('@ViewBag.CustomerPhone');
        $('#CoachNo').val('@ViewBag.CoachNo');
        $('#OrderNo').val('@ViewBag.OrderNo');
        @*$('#BeginCreateTime').val('@ViewBag.BeginCreateTime');
        $('#EndCreateTime').val('@ViewBag.EndCreateTime');*@
        //全选反选
        $("table th input:checkbox").on("click", function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });
        });

    });

</script>
